@import '_reset';
@import '_bootstrap';
@import '_sweet-alert';

// Main variables..
$imgFolder: '../images/';
// ..Main variables

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}
@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 14px;
  }
}

.main-content
{
    position: relative;
    height: 100%;
    height: 100vh;
    background: url($imgFolder+'blur.jpg') no-repeat 0 0;
    background-size: cover;
    padding: 5em 0;
    padding: 15vh 0;
}
.form-wrapper
{
    padding: 40px 0 60px 0;
    background: rgba(255,255,255, .5);
}
.form-wrapper h1
{
    font-size: 4em;
    font-weight: 300;
    line-height: normal;
    line-height: 1em;

    margin: 0 0 20px 0;
}
.form-wrapper label
{
    font-size: 1.4em;
    font-weight: 300;
    margin: 10px 0;
    cursor: pointer;

    color: #333;
}
.form-wrapper input
{
    font-size: 1.5em;
    font-weight: 300;

    width: 100%;
    height: 60px;
    padding: 10px 20px;
    transition: .3s all ease-out;

    border: 3px solid transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
            box-shadow: 0 0 0 0 #339;
    box-sizing: border-box;
}
.form-wrapper input:focus
{
    /*-webkit-box-shadow: 0 0 0 3px #339;*/
       /*-moz-box-shadow: 0 0 0 3px #339;*/
            /*box-shadow: 0 0 0 3px #339;*/
    border: 3px solid #339;
}
.form-wrapper input.error
{
    border: 3px solid #FF1744 !important;
}

.basic-btn
{
    margin-top: 20px;

    color: #FFF;
    outline: none;
    transition: .3s all ease-out;

    background: #339;
    box-shadow: 0 0 0 0 #339;
}
.basic-btn:focus{
    outline: none;
}
.basic-btn:hover
{
    box-shadow: 0 0 0 10px #339;
}
.basic-btn.disabled{
    cursor: default;
}
.basic-btn.disabled:hover{
    box-shadow: 0 0 0 0 #339;
}

.status-wrapper
{
    width: 100%;
}

.terminal-wrapper
{
    /*-webkit-transition:all 0.5s; */
    overflow: hidden;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background: #000;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.75);
       -moz-box-shadow: 0 0 20px rgba(0,0,0,.75);
    padding: 15px;
}

.terminal-body-wrapper
{
    font-family: Andale Mono, monospace;  
    font-size: 13px;    line-height: 1em;
    line-height: 1.5em;

    float: left;

    width: 100%;
    min-height: 130px;
/*    height: 130px;*/

    background: #000;
    position: relative;
    overflow: hidden;
}
.terminal-body{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 424px;
    min-height: 135px;
}
.terminal-body-wrapper p
{
    color: #63de00;
    text-align: left;
    -ms-word-wrap: break-word;
        word-wrap: break-word;
}

@keyframes blink
{
    0%
    {
        background: rgba(99,222,0,100);
    }
    100%
    {
        background: rgba(99,222,0,0);
    }
}

@-webkit-keyframes blink
{
    0%
    {
        background: rgba(99,222,0,100);
    }
    100%
    {
        background: rgba(99,222,0,0);
    }
}
.cursor
{
    display: inline-block;

    width: 11px;
    height: 19px;
    margin-bottom: -3px;

    background: #63de00;
    -webkit-animation-name: blink;
       -moz-animation-name: blink;
    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
}
/*.terminal-body-wrapper:hover .cursor
{
    -webkit-animation-name: blink;
       -moz-animation-name: blink;
    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
}*/

.terminal-body-wrapper p::-webkit-selection
{
    background: #0b209e;
}
.terminal-body-wrapper p::-moz-selection
{
    background: #0b209e;
}
.terminal-body-wrapper p::selection
{
    background: #0b209e;
}
.terminal-body-wrapper p::-moz-selection
{
    background: #0b209e;
}

.terminal-body-wrapper p
{
    font-size: 13px;

    margin-top: 5px;
    margin-bottom: 5px;
}
.sweet-alert > .confirm{
    display: none;
    margin-bottom: 0;
}
.showSweetAlert{
    padding-bottom: 40px;
}
#copyrights{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
#copyrights>a{
    font-weight: 300;
    font-size: 1em;
    color: #FFF;
}
.submit-form-wrapper{
    position: relative;
}
/* PRELOADER..*/
#preloader{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: 13px;
}
#preloader span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    -webkit-animation: preloader 1.5s  infinite ease-in-out;
            animation: preloader 1.5s  infinite ease-in-out;
}

#preloader span:nth-child(2){
    left:11px;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
}
#preloader span:nth-child(3){
    left:22px;
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}
#preloader span:nth-child(4){
    left:33px;
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
}
#preloader span:nth-child(5){
    left:44px;
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}

@-webkit-keyframes preloader {
    0% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;-webkit-transform:translateY(15px);transform:translateY(15px);background:#3498db;}
    50% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
}
@keyframes preloader {
    0% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;-webkit-transform:translateY(15px);transform:translateY(15px);background:#3498db;}
    50% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
}

@keyframes preloader {
    0% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;-webkit-transform:translateY(15px);transform:translateY(15px);background:#3498db;}
    50% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;-webkit-transform:translateY(0px);transform:translateY(0px);background:#9b59b6;}
}


/* ..PRELOADER */