@import "_reset";
@import "_bootstrap";
@import "_sweet-alert";
@import "_helper";

// Main variables..

$imgFolder: "../images/";

$main-color: #333399;

// ..Main variables

html {
    font-size: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-content {
    position: relative;
    height: 100%;
    height: 100vh;
    padding: 5rem 0 0 0;
    background: url($imgFolder + "BLUR-22.jpg") no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.form-wrapper {
    padding: 40px 0 45px 0;
    background: rgba(255, 255, 255, 0.5);
}

.form-wrapper h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: normal;
    line-height: 3rem;
    margin: 0 0 1rem 0;
}

.form-wrapper label {
    font-size: 1.4rem;
    font-weight: 300;
    margin: .45rem 0;
    cursor: pointer;
    color: #333;
}

.form-wrapper input {
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 300;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    border: 3px solid transparent;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 0 0 0 0 $main-color;
    -moz-box-shadow: 0 0 0 0 $main-color;
    box-shadow: none;
    box-shadow: 0 0 0 0 $main-color;
    border-radius: 5px;
}

.form-wrapper input:focus {
    /*-webkit-box-shadow: 0 0 0 3px $main-color;*/
    /*-moz-box-shadow: 0 0 0 3px $main-color;*/
    /*box-shadow: 0 0 0 3px $main-color;*/
    border: 3px solid $main-color;
}

.form-wrapper input.error {
    border: 3px solid #ff1744 !important;
}

.form-wrapper .basic-btn {
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
    font-weight: 400;
    color: #fff;
    outline: none;
    background: $main-color;
    -webkit-box-shadow: 0 0 0 0 $main-color;
    -moz-box-shadow: 0 0 0 0 $main-color;
    box-shadow: 0 0 0 0 $main-color;
    &:hover{
        border-color: #fff;
    }
}

.basic-btn:focus {
    outline: none;
}

.basic-btn:hover {
    // -webkit-box-shadow: inset 0 0 10px 7px lighten($main-color, 50);
    // -moz-box-shadow: inset 0 0 10px 7px lighten($main-color, 50);
    // box-shadow: inset 0 0 10px 7px lighten($main-color, 50);
    
}

.basic-btn.disabled {
    cursor: default;
}

.basic-btn.disabled:hover {
    -webkit-box-shadow: 0 0 0 0 $main-color;
    -moz-box-shadow: 0 0 0 0 $main-color;
    box-shadow: 0 0 0 0 $main-color;
}

.status-wrapper {
    width: 100%;
}

.terminal-wrapper {
    /*-webkit-transition:all 0.5s; */
    overflow: hidden;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.terminal-body-wrapper {
    font-family: Andale Mono, monospace;
    font-size: 13px;
    line-height: 1rem;
    line-height: 1.5rem;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    min-height: 130px;
    /*    height: 130px;*/
    background: #000;
}

.terminal-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 424px;
    min-height: 135px;
}

.terminal-body-wrapper p {
    text-align: left;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color: #63de00;
}

@keyframes blink {
    0% {
        background: rgba(99, 222, 0, 100);
    }
    100% {
        background: rgba(99, 222, 0, 0);
    }
}


@-webkit-keyframes blink {
    0% {
        background: rgba(99, 222, 0, 100);
    }
    100% {
        background: rgba(99, 222, 0, 0);
    }
}


@-moz-keyframes blink {
    0% {
        background: rgba(99, 222, 0, 100);
    }
    100% {
        background: rgba(99, 222, 0, 0);
    }
}


.cursor {
    display: inline-block;
    width: 11px;
    height: 19px;
    margin-bottom: -3px;
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    background: #63de00;
}

/*.terminal-body-wrapper:hover .cursor
{
    -webkit-animation-name: blink;
       -moz-animation-name: blink;
    -webkit-animation-duration: 1.5s;
       -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
}*/

.terminal-body-wrapper p::-webkit-selection {
    background: #0b209e;
}

.terminal-body-wrapper p::selection {
    background: #0b209e;
}

.terminal-body-wrapper p::-moz-selection {
    background: #0b209e;
}

.terminal-body-wrapper p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sweet-alert > .confirm {
    display: none;
    margin-bottom: 0;
}

.showSweetAlert {
    padding-bottom: 40px;
}

#copyrights {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#copyrights > a {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

.submit-form-wrapper {
    position: relative;
}

/* PRELOADER..*/
#preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    margin-top: 13px;
    margin-left: -15px;
}

#preloader span {
    position: absolute;
    bottom: 0;
    display: block;
    width: 9px;
    height: 5px;
    -webkit-animation: preloader 1.5s  infinite ease-in-out;
    -moz-animation: preloader 1.5s  infinite ease-in-out;
    -o-animation: preloader 1.5s  infinite ease-in-out;
    animation: preloader 1.5s  infinite ease-in-out;
    background: #9b59b6;
}

#preloader span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -o-animation-delay: .2s;
    animation-delay: .2s;
}

#preloader span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

#preloader span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
}

#preloader span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

@-webkit-keyframes preloader {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}


@-moz-keyframes preloader {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}


@-o-keyframes preloader {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}


@keyframes preloader {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}


@keyframes preloader {
    0% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    25% {
        height: 30px;
        transform: translateY(15px);
        background: #3498db;
    }
    50% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
    100% {
        height: 5px;
        transform: translateY(0px);
        background: #9b59b6;
    }
}


/* ..PRELOADER */