{% extends "base.html" %}
{% block content %}
    <body data-vide-bg="" class="error-page-wrapper">
        <section class="error-text-wrapper">
            <div class="glitch-effect" data-text="ERROR 404">ERROR 404</div>
            <div class="glitch-effect" data-text="PAGE NOT FOUND">PAGE NOT FOUND</div>
        </section>
    </body>
{% endblock %}