{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <div class="form-wrapper">
        <div class="container">
            <h1>Sitemap генератор</h1>
            <form action="/" method="post" name="siteparse" id="sitemapForm">
                {{form.hidden_tag()}}
                <label for="site_url">Введите адрес сайта:</label>
                <p>{{ form.site_url(placeholder="http://my-site.ru", **{'data-validation': 'url'}) }}</p>

            {% if(form.errors.site_url) %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {% for error in form.errors.site_url %}
                        <p>{{error}}</p>
                        {% endfor %}
                </div>
                {% endif %}

                <label for="user_email">Введите ваш E-mail:</label>
                <p>{{ form.user_email(placeholder="my-email@mail.ru", **{'data-validation': 'email'}) }}</p>

                {% if(form.errors.user_email) %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {% for error in form.errors.user_email %}
                        <p>{{error}}</p>
                        {% endfor %}
                </div>
                {% endif %}

                <div class="submit-form-wrapper">
                    <input type="submit" value="Получить sitemap" class="basic-btn" id="sendForm">
                    <div id="preloader">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </form>

            {% include 'sweet_alert.html' %}
        </div>
    </div>
</div>
{% endblock %}