{% extends "base.html" %}
{% block content %}
    {% if(error) %}
    <div class="alert">
        {% for error in form.errors %}
        <p>[{{error}}]</p>
        {% endfor %}
    </div>
    {% endif %}
<ul>
    {% for url in result %}
    <li>{{ url }}</li>
    {% endfor %}
</ul>
{% endblock %}