<!-- Note: this file is only intended for development use! -->

<div class="sweet-overlay"></div>


<!-- SweetAlert box -->
<div class="sweet-alert">

	<div class="icon error">
		<span class="x-mark">
			<span class="line left"></span>
			<span class="line right"></span>
		</span>
	</div>

	<div class="icon warning">
		<span class="body"></span>
		<span class="dot"></span>
	</div>

	<div class="icon info"></div>

	<div class="icon success">
		<span class="line tip"></span>
		<span class="line long"></span>
		<div class="placeholder"></div>
		<div class="fix"></div>
	</div>

	<div class="icon custom"></div>


	<h2>Title</h2>
	<p>Text</p>
    <div class="status-wrapper">
        <div class="terminal-wrapper">
            <div class="terminal-body-wrapper">
                <div class="terminal-body">
                    <p>Last login: Thu Nov 11 04:18:01 on tty001</p>
                    <div id="terminal-urls"></div>
                    <p>Status: <span class="cursor"></span></p>
                </div>
            </div>
        </div>
    </div>
	<button class="cancel">Cancel</button>
	<button class="confirm">/button>
</div>